#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: camilacwirko # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDajca5fPpdH2Ni9KfhQXtRDT1aR1ls9UcDi6QXks+wVR+X0Kn3fmIX7eGkge0mrcH49jovrmqQQgJID55n9FsKm45++7UDmDwWGaeMiRn8lzlGmeKMxt380XQ9iAU2N63d94xeY22nK0CKMWbeVRgM2Oaw2kUpzqwS6/RXvjY0n6caS/ZxNS/8C8u95ZfqRJWGNJlLNwtsDGMLQw3JDhonchgAgG3b2Zq7Ocm+j9tiXw5O9wfzb681gw+eHXqaQLc+LfcHrJTcmpWqMmStTEwnNBEK3xLbY3vQlP+blh1D76vk9WaOMbx3MxQuxIlJaisHULyDM0JyD5fo4mEyS4yT camila@camilacwirko
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
